body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: #35424a;
  color: white;
  padding: 20px 0;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #ffffff;
  font-weight: bold;
}

main {
  padding: 20px;
}

footer {
  padding: 20px;
  color: #ffffff;
  background-color: #35424a;
  text-align: center;
  font-size: 14px;
}

section {
  float: left;
  width: 60%;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
}

aside {
  float: left;
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #f4f4f4;
}
